{% extends "bookapp/primary_pattern.html" %}
{% load static %}

{% block page_configs %}
	<link rel="stylesheet" type="text/css" href="{% static 'bookapp/styles_for_book.css' %}">
{% endblock page_configs %}

{% block content %}
	
	<div class="book">
		<div class="image-wrapper">
			<img src="{{ book.get_static_url }}" class="book-picture">
		</div>
		<div>
		<h1 class="book-title">{{ book.book_name }}</h1><br>
		{% if book.book_autor %}
				<span class="book-attribute">Имя Автора : <a href="{% url 'bookapp:particular_author' book_author.pk %}">
					{{ book.book_autor }}
				</a></span><br>
		{% else %}
			<span class="book-attribute">Имя Автора : {{ book.book_autor_info }}</span><br>
		{% endif %}

		<span class="book-attribute">Жанр книги : {{ book.book_genre }}</span><br>

		<span class="book-attribute">Год публикации : {{ book.book_year }}</span><br><br>

		<span>Описание :</span><br>
		<p class="book-description">{{ book.book_description }}</p>
		</div>
	</div>

	{% block comments %}
		{% if user.is_authenticated %}
			<form method="POST" action='bookapp:particular_book'>
				<textarea></textarea>
				<input type="submit" value="Send">
			</form>
		{% else %}
			<p class="alert alert-warning">
				<a href="{% url 'authapp:login' %}">Авторизируйтесь</a> что-бы коментировать.
			</p>
		{% endif %}
	{% endblock comments %}

{% endblock content %}