{% load static %}
<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{% static 'bookapp/styles.css' %}">
	<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap" rel="stylesheet">
	{% block page_configs %}
	{% endblock page_configs %}
</head>



<body>
	<div class="main">
		<a href="{% url 'bookapp:index' %}">
			<h1 class="title unselectable">Books</h1>
		</a>

		<nav>
			<a href="{% url 'bookapp:books' %}" class="link">Книги</a>
			<!-- <a href="{% url 'bookapp:autors' %}" class="link">Авторы</a> -->
		</nav>
		{% block content %}
		{% endblock content %}
	</div>
</body>



</html>