{% load static %}
<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{% static 'bookapp/styles.css' %}">
	<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap" rel="stylesheet">
	{% block page_configs %}
	{% endblock page_configs %}
</head>



<body>
	{% block main %}
	<div class="main">
		<h1 class="title unselectable">Books</h1>

		<nav>
			<a href="books/" class="link">Книги</a>
			<!-- <a href="autors/" class="link">Авторы</a> -->
		</nav>
		{% block content %}
		{% endblock content %}
	</div>
	{% endblock main %}
</body>



</html>