.booklist{
	width: 90%;
	margin: 17px 15px;
}

.book-wrapper{
	text-decoration: none;
	color: #483B37;
}
.book{
	padding: 1em;
	margin-top: 20px;
}
.book:hover{
	background-color: #ebe4e4;
	transition: all 0.3s ease;
}
.book_title{
	font-size: 0.4em;
}