* {
	margin: 0;
	padding: 0;
}
body{
	font-family: 'Roboto Condensed', sans-serif !important;
}
.unselectable {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;            /*Non-prefixed version, currently
                                  not supported by any browser*/ 
}
nav{
	padding: 7px 0;
	border-bottom: 2px solid black;
	text-align: center;
}
a{
	text-decoration: none !important;
}
.f{
	left: 0;bottom: 0;
	width: 100%;
}
.link{
	color: #483B37;
	font-size: 2em;
	margin-right: 1.5em;
}

.title{
	border-bottom: 2px solid black;
	padding: 3px 0;
	font-size: 3.5em;
	color: #483B37;
}
.description{
	font-size: 18px;
	width: 75%;
	margin: 17px auto;
	color: #483B37;
}